/* Mantener el color del ícono fijo */
#btnSlide i {
    color: inherit !important; /* Hereda el color, evita que cambie */
}

#btnSlide:hover i,
#btnSlide:focus i,
#btnSlide:active i {
    color: inherit !important; /* Asegura que el color del ícono no cambie */
}

/* Evitar que el hover de templateColor cambie el color del ícono */
.templateColor:hover i {
    color: inherit !important;
}

/* Evitar que templateColor cambie el color del fondo o del texto del botón */
.templateColor:hover {
    background-color: #FFC0CB !important;
    color: white !important;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.dropdown-toggle::after {
  display: none !important;
}

.brand-image {
  max-height: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style-type: none;
}

.navbar-brand,
.nav-link,
.navbar-search-container,
.bt,
.cart-info {
  display: flex;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 991px) {
  .brand-image {
    max-height: 40px;
  }

  .dropdown-menu > .dropdown-submenu > .dropdown-menu {
    display: none !important;
  }

  .dropdown:hover > .dropdown-menu {
    display: block !important;
  }
}

.topColor{
    background-color:black; color:white
}
.templateColor{
    background: #FFC0CB; 
    color:white;
}

.main-footer {
    border-top: 0 !important;
}
